.heading {
  font-size: var(--size-large);
  font-weight: bold;
  margin: 0 0 var(--space-medium);
}

.status {
  font-size: var(--size-large);
  margin: 0 0 var(--space-large);
}

.card {
  margin-bottom: var(--space-medium);
}
