.button {
  display: inline-flex;
  width: 128px;
  min-height: 32px;
  justify-content: center;
  align-items: center;
  font-size: var(--size-medium);
  color: #fff;
  background-color: var(--color-brand);
  padding: 0;
  border: 0;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.button:focus,
.button:hover,
.button:active {
  outline: 0;
  background-color: var(--color-secondary);
  cursor: pointer;
}
