.main {
  display: flex;
  max-width: 1024px;
  min-height: calc(100vh - 80px - 1px - 80px - 1px);
  margin: 0 auto;
  padding: var(--space-large) var(--space-small);
}

.filters {
  flex-basis: 30%;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: var(--space-large);
}

.catalog {
  flex-grow: 1;
}
