:root {
  --color-gray: #ededed;
  --color-text: #4a4a4a;
  --color-brand: #ea7f28;
  --color-secondary: #d37324;
  --size-x-large: 32px;
  --size-large: 18px;
  --size-medium: 14px;
  --size-small: 12px;
  --space-large: 24px;
  --space-medium: 12px;
  --space-small: 8px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: var(--size-medium);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  font-size: var(--size-small);
  color: var(--color-brand);
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  color: var(--color-secondary);
  text-decoration: underline;
}

button {
  display: inline-flex;
  width: 128px;
  min-height: 32px;
  justify-content: center;
  align-items: center;
  font-size: var(--size-medium);
  color: #fff;
  background-color: var(--color-brand);
  padding: 0;
  border: 0;
  border-radius: 4px;
  transition: background-color 0.2s;
}

button:focus,
button:hover,
button:active {
  outline: 0;
  background-color: var(--color-secondary);
  cursor: pointer;
}
