.container {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  padding: var(--space-large) var(--space-medium) 0;
}

.left {
  flex-basis: 30%;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: var(--space-large);
}

.right {
  flex-grow: 1;
}

@media (max-width: 700px) {
  .container {
    display: block;
    max-width: 425px;
  }

  .left {
    margin: 0 auto var(--space-large);
  }
}
